@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root{
    --primary-color: #111827;
    --off-white: #E5E7EB;
}

body{
    font-family: 'Lato', sans-serifs;
    margin: 0;
    scroll-behavior: smooth;
    font-size: 1.1rem;
    box-sizing: border-box;
}

hr{
    margin: 2.3rem 0rem;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.center-container{
    margin: auto;
    max-width: 650px;
}

.link{
    border-radius: 0.8rem;
    padding: 0.7rem 1.1rem;
    text-decoration: none;
}

.link-primary{
    background-color: var(--primary-color);   
    color: white;
}

.link-secondary{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.link-primary:hover{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: white;
}

.link-secondary:hover{
    background-color: var(--primary-color);   
    color: white;
}

.list-non-bullet{
    list-style-type: none;
}

.list-item-inline{
    display: inline;
    padding: 0.7rem 1.1rem;
    margin: 1rem;
}

.navigation{
    background-color: var(--primary-color);
    padding: 1.2rem;
    border-bottom-left-radius: 1.3rem;
}

.navigation .nav-heading{
    font-size: 1.8rem;
    font-weight: bolder;
    color: white;
}

.navigation ul{
    text-align: right;
    padding: 0.4rem;
    font-size: 1.5;
}

.navigation ul li a{
    color: white;
    text-decoration: none;
}

.hero{
    padding: 1rem;
}

.hero img{
    max-width: 350px;
    margin: auto;
    display: block;
}

.hero .hero-heading{
    text-align: center;
}

.section{
    padding: 2rem;
}
.section .section-heading{
    text-align: center;
}
.ow{
   background-color: #E5E7EB;
}
.section .section-text{
    max-width: 650px;
    margin: auto;
    text-align: left;
}
.footer{
    padding: 2rem;
    background-color: var(--primary-color);
}
.footer .footer-heading{
    color: white;
    text-align: center;
    font-size: 1.1rem;
}
.footer ul{
    text-align: center;
    padding-inline-start: 0px;
}
.footer .list-non-bullet .list-item-inline a{
    color: white;
    font-size: 0.8rem;
}
